* {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: #c49c67;
}

.navbar-brand {
    font-size: 30px;
}

.navbar {
    font-size: 16px;
}

body {
    background-color: #D2B48C;
    height: 100%;
}

.index-card {
    background-color: #D2B48C;
    border: none;
}

.topPerformers {
    list-style: none;
    text-align: center;
}

ul {
    columns: 2;
}

.carousel {
    margin-bottom: 40px;
}

footer {
    position: fixed;
    text-align: center;
    padding: 5px; /* Add some space above and below the text */
    background-color: #c49c67;
    font-size: 0.8em; /* Make the text small */
    width: 100%;
    bottom: 0;
}

@media (min-width: 768px) {
    ul {
        columns: 3;
    }
}