* {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin-bottom: 20px;
}

.btn {
    background-color: blanchedalmond;
}

nav {
    background-color: #c49c67;
}

.navbar-brand {
    font-size: 30px;
}

.navbar {
    font-size: 16px;
}

body {
    background-color: #D2B48C;
    height: 100%;
}

.topPerformers {
    list-style: none;
    text-align: center;
}

ul {
    columns: 2;
}

.carousel {
    margin-bottom: 40px;
}

.modal-header {
    background-color: #D2B48C
}

.shootin {
    color: black;
}

.btn:hover {
    background-color: #D2B48C;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px
}

.card {
    background-color: #c49c67;
}

.index-card {
    background-color: #D2B48C;
    border: none;
}

@media (min-width: 1024px){
    .c-item {
        height: 575px;
    }

    .c-img {
        height: 100%;
    }
}

@media (min-width: 1440px){
    .c-item {
        height: 700px;
    }

    .c-img {
        height: 100%;
    }
}

footer {
    position: fixed;
    text-align: center;
    padding: 5px; /* Add some space above and below the text */
    background-color: #c49c67;
    font-size: 0.8em; /* Make the text small */
    width: 100%;
    bottom: 0;
}

@media (min-width: 768px) {
    ul {
        columns: 3;
    }
}
